# Telegram
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# MQTT
MQTT_BROKER_URL=mqtt://mosquitto:1883

# Camera
SNAPSHOT_URL=http://redeye-cam.local/capture
SNAPSHOT_TIMEOUT_MS=5000

# Motion detection
COOLDOWN_MS=60000